<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
    <div class="main-container">
      <div class="login-form">
          <img src="../assets/logo.png" alt="Logo">
          <h5>Login Form</h5>
       <div class="mb-3">
           <input type="email" class="form-control" formControlName = "email"  placeholder="Enter your email">
       </div>
       <div class="mb-3">
           <input class="form-control" type="password" formControlName = "password"  placeholder="Enter your password" aria-label="default input example">
       </div>
       <div class="mb-3">
        <input type="checkbox" formControlName = "rememberMe">
        <label>remember me</label>
      </div>
         <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
    </div>
    

</form>